.auto-complete {
    position: relative;
}

.input,
.options {
    display: block;
    width: 100%;
}

.options {
    background: white;
    border: 1px solid gray;
    position: absolute;
    transition: opacity .3s ease-in-out;
}


.option-item {
    cursor: pointer;
    display: block;
    padding: 1em .25em;
    transition: background .1s ease-in-out;

    /*&:nth-child(even) {
        background-color: #aaa;
    }*/

    &:hover {
        background: #bada55;
    }
}
