@import '../../variables.css';

.header {
    align-items: center;
    background: var(--blue, green);
    color: var(--white, black);
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
}

.brand {
    color: var(--white);
    text-decoration: none;
}

.logo {
    fill: var(--white);
    height: 2em;
    margin-right: .5em;
    vertical-align: middle;
    width: 2em;
}
